:root {
  --white-color: hsl(0, 0%, 100%);
  --soft-blue-color: hsl(215, 51%, 70%);
  --cyan-color: hsl(178, 100%, 50%);
  --primary-dark-blue: hsl(217, 54%, 11%);
  --secondary-dark-blue: hsl(216, 50%, 16%);
  --tertiary-dark-blue: hsl(218, 4%, 38%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100vh;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-dark-blue);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  padding: 20px;
  border-radius: 10px;
  background: var(--secondary-dark-blue);
  box-shadow: 0 4px 8px 0 var(--primary-dark-blue);
}

.card-header {
  position: relative;
  width: 100%;
}

.middle {
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-header:hover .middle {
  opacity: 0.4;
  background: var(--cyan-color);
}

.header-img {
  object-fit: contain;
  height: auto;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-content {
  padding-top: 20px;
}

h1 {
  color: var(--white-color);
  font-size: 26px;
}

h1:hover {
  color: var(--cyan-color);
  cursor: pointer;
  font-weight: 600;
}

p {
  color: var(--soft-blue-color);
  padding-top: 15px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.nft-info-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.nft-value {
  color: var(--cyan-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-value > img,
.days-left > img {
  margin-right: 8px;
}

.days-left {
  color: var(--soft-blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  border: 0.5px solid var(--tertiary-dark-blue);
  margin-top: 15px;
}

.created-by {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}

.created-by > img {
  height: 35px;
  width: 35px;
  border: 1.5px solid var(--white-color);
  border-radius: 50%;
  color: var(--soft-blue-color);
}

.created-by > div {
  margin-left: 12px;
  color: var(--soft-blue-color);
  font-size: 16px;
}

.created-by span {
  color: var(--white-color);
  font-weight: 400;
}

.created-by span:hover {
  color: var(--cyan-color);
  cursor: pointer;
}
